
@{
    ViewBag.Title = "Universidad ABC";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<body>

    <div class="row justify-content-center">
        <h2 class="text-center">Universidad ABC</h2>
    </div>

</body>

