

@{
    ViewData["Title"] = "Inicio de Sesión";
}

<h2>@ViewData["Title"]</h2>

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <p class="text-danger">@ViewBag.ErrorMessage</p>
}

<form asp-action="InicioSesion" method="post">
    <div class="form-group">
        <label for="user">Nombre de Usuario</label>
        <input type="text" class="form-control" name="user" />
    </div>
    <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" class="form-control" name="password" />
    </div>
    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
</form>

